= title 'Editar usuário'

.row.justify-content-end.mb-3
  .col-md-2.d-grid
    = link_to users_admin_path(@user), method: :delete, class: 'btn btn-danger', data: {confirm: "Você tem certeza que deseja remover o Usuário?"} do
      = icon('fa-regular', 'trash-can')
      Remover

= form_for @user, url: users_admin_path do |f|
  .row
    .col-md-4.mb-3
      = f.label :name
      = f.text_field :name, {class: 'form-control'}
    .col-md-4.mb-3
      = f.label :email
      = f.text_field :email, {class: 'form-control'}

  .row
    - if current_user.admin?
      .col-md-4.mb-3
        = f.label :password
        = f.password_field :password, {class: 'form-control'}
  
      .col-md-4.mb-3
        = f.label :password_confirmation
        = f.password_field :password_confirmation, {class: 'form-control'}

  .row
    - if current_user.admin?
      .col-md-2.mb-3
        = f.label :admin
        = f.select :admin, options_for_select([["Sim", "true"], ["Não", "false"]], { selected: @user.admin? ? "true" : "false"}), {prompt: "Selecione..."}, {class: "form-control"}
  .row
    .col-md-2.mb-3
      %button.btn.btn-success{type: 'submit'}
        = icon('fa-regular', 'floppy-disk')
        Salvar

  .row
    %h2.form-head-title.ml-3 Acesso Avançado
    .col-12
      = render 'access_control', accesses: @accesses, count: 0, permitions: true