!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "ie=edge", "http-equiv": "X-UA-Compatible"}

    %title GrailsTemplate

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    -# = stylesheet_pack_tag 'application', media: 'all'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid.container-login
      = render 'shared/alerts'
      
      .row.w-100.justify-content-center
        .col-md-8
          = yield
